{% extends ':customer:base.html.twig' %}

{% block title %}Notification Details{% endblock %}

{% block stylesheets_header %}
    <!-- DataTables CSS -->
    <link href="{{ asset('assets/vendor/datatables-plugins/dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ asset('assets/vendor/datatables-responsive/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="wrapper">
        {% include ':includes:menu-customer.html.twig' %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Notification Details</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-hover">
                                <tbody>
                                <tr class="odd">
                                    <td>Chub ID</td>
                                    <td>{{ notification.chub.id }}</td>
                                </tr>
                                <tr class="even">
                                    <td>Trigger</td>
                                    <td>{{ notification.triggerName }}</td>
                                </tr>
                                <tr class="odd">
                                    <td>Date</td>
                                    <td>{{ notification.createdAt|date('Y/m/d H:i:s') }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Snapshots
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {% for snapshot in notification.snapshots %}
                                <a href="{{ path('fetch_snapshot_image', {'id': snapshot.id}) }}">
                                    <img src="{{ path('fetch_snapshot_image', {'id': snapshot.id}) }}" alt="" style="max-width: 300px;">
                                </a>
                            {% endfor %}
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

        </div>
    </div>
    <!-- /#page-wrapper -->
{% endblock %}

{% block js_bottom %}
    <!-- DataTables JavaScript -->
    <script src="{{ asset('assets/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
            $('#dataTables-notifications').DataTable({
                responsive: true
            });

//            $('#dataTables-products').on( 'click', 'tbody tr', function () {
//                window.location.href = $(this).data('href');
//            });
        });
    </script>
{% endblock %}
