{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include ':includes:menu-default.html.twig' %}

    <header class="masthead">
        <div class="overlay-small">
            <div class="container">
                <h1 class="display-1 text-white">My Profile</h1>
            </div>
        </div>
    </header>
    <hr noshade>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 order-1">
                    <div class="p-5">
                        <h2 class="display-5">Details</h2>
                        <strong>{{ user.firstName }} {{  user.lastName }}</strong><br>
                        <br>
                        <strong>Shipping Details</strong><br>
                        <address>
                            {% if user.address %}
                                &plus;{{ user.address.country.phoneCode }}{{ user.address.phoneNumber }}<br>
                                {{ user.address.country.name|capitalize }}<br>
                                {{ user.address.street }} {{ user.address.houseNumber }}<br>
                                {{ user.address.city }}, {{ user.address.zipcode }}<br>
                            {% else %}
                                <p>No shipping details set</p>
                                <a href="{{ path('my_profile_edit_shipping') }}" class="btn btn-primary btn-sm">Set your shipping details</a>
                            {% endif %}
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr noshade>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 order-1">
                    <div class="p-5">
                        <h2 class="display-5">Most Recent Order</h2>
                        {% if order %}
                            <table width="100%" class="table table-striped table-hover">
                                <tbody>
                                    {% for orderedProduct in order.orderedProducts %}
                                        <tr class="{% if loop.index0 % 2 == 0 %}even{% else %}odd{% endif %}" style="cursor: pointer">
                                            <td>
                                                <img id="product-img" src="{{ vich_uploader_asset(orderedProduct.product, 'imageFile') }}" style="width: 120px" class="img-fluid" alt="{{ orderedProduct.product.name }}">
                                            </td>
                                            <td>{{ orderedProduct.product.name }}</td>
                                            <td>&euro; {{ orderedProduct.product.price / 100 }}</td>
                                            <td>&num; {{ orderedProduct.amount }}</td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <strong>Total: &euro;</strong> {{ order|calculateOrderTotal / 100 }}
                            <strong>Status: </strong> {% if order.paymentStatus %}{{ order.paymentStatus }}{% else %}N/A{% endif %}<br>
                            <a href="{{ path('my_profile_orders') }}" class="btn btn-primary btn-sm">All orders</a>
                        {% else %}
                            <p>No orders yet</p>
                            <a href="{{ path('products') }}" class="btn btn-primary btn-sm">Place your first order</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr noshade>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 order-1">
                    <div class="p-5">
                        <h3 class="display-6">Edit Details</h3>
                        <a href="{{ path('my_profile_edit_personal') }}" class="btn btn-primary btn-sm">Personal Details</a>
                        <a href="{{ path('my_profile_edit_shipping') }}" class="btn btn-primary btn-sm">Shipping Details</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include ':includes:footer.html.twig' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}