{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include ':includes:menu-default.html.twig' %}

    <header class="masthead">
        <div class="overlay-small">
            <div class="container">
                <h1 class="display-1 text-white">Thanks for your purchase</h1>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="p-5">
                    <h2 class="display-4">It will be shipped soon</h2>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <p>You can check the order status in your account</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr noshade>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 order-1">
                    <div class="p-5">
                        <h2 class="display-5">Products</h2>
                        <table width="100%" class="table table-striped table-hover">
                            <tbody>
                            {% for orderedProduct in order.orderedProducts %}
                                <tr class="{% if loop.index0 % 2 == 0 %}even{% else %}odd{% endif %}" style="cursor: pointer">
                                    <td>
                                        <img id="product-img" src="{{ vich_uploader_asset(orderedProduct.product, 'imageFile') }}" style="width: 120px" class="img-fluid" alt="{{ orderedProduct.product.name }}">
                                    </td>
                                    <td>{{ orderedProduct.product.name }}</td>
                                    <td>&euro; {{ orderedProduct.product.price / 100 }}</td>
                                    <td>&num; {{ orderedProduct.amount }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <strong>Total: &euro;</strong> {{ order.totalCost / 100 }}
                    </div>
                    <div class="p-5">
                        <h2 class="display-5">Shipping Details</h2>
                        <address>
                            <strong>{{ order.user.firstName }} {{  order.user.lastName }}</strong><br>
                            {{ order.country.name|capitalize }}<br>
                            {{ order.city }}, {{ order.zipcode }}<br>
                            {{ order.user.phoneNumber }}
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include ':includes:footer.html.twig' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}