{% extends ':admin:base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block stylesheets_header %}
    <!-- DataTables CSS -->
    <link href="{{ asset('assets/vendor/datatables-plugins/dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ asset('assets/vendor/datatables-responsive/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="wrapper">

        <!-- Navigation -->
        {% include ':includes:menu-admin.html.twig' %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ product.name }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-hover">
                                <tbody>
                                    <tr class="odd">
                                        <td>Name</td>
                                        <td>{{ product.name }}</td>
                                    </tr>
                                    <tr class="even">
                                        <td>Description</td>
                                        <td>{{ product.description }}</td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Price</td>
                                        <td>{{ product.price / 100 }}</td>
                                    </tr>
                                    <tr class="even">
                                        <td>Image</td>
                                        <td>
                                            <img id="product-img" src="{{ vich_uploader_asset(product, 'imageFile') }}" style="width: 100px" class="img-fluid" alt="">
                                        </td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Icon</td>
                                        <td>
                                            <img id="product-icon" src="{{ vich_uploader_asset(product, 'iconFile') }}" style="width: 50px" class="img-fluid" alt="">
                                        </td>
                                    </tr>
                                    <tr class="even">
                                        <td>Features</td>
                                        <td>
                                            <ul style="list-style: none;">
                                                {% for feature in product.features %}
                                                    <li>
                                                        <img class="img-fluid" style="width: 30px;" src="{{ vich_uploader_asset(feature, 'imageFile') }}">
                                                        {{ feature.name }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}

{% block js_bottom %}
    <!-- DataTables JavaScript -->
    <script src="{{ asset('assets/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function() {
//            $('#dataTables-products').DataTable({
//                responsive: true
//            });
        });
    </script>
{% endblock %}