{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">Tinfoil Hats, inc.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if currentPath == '/' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item {% if currentPath == '/products' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('products') }}">Products</a>
                </li>
                <li class="nav-item {% if currentPath == '/about' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('about') }}">About us</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a href="{{ path('admin') }}" class="nav-link">Admin Dashboard</a>
                        </li>
                    {% elseif is_granted('ROLE_CUSTOMER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Customer Portal</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{{ path('shopping_cart') }}" class="nav-link">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a href="{{ path('my_profile') }}" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Orders</a>
                            <a href="{{ path('logout') }}" class="dropdown-item">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('shopping_cart') }}" class="nav-link">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('login') }}" class="nav-link">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>