{% extends 'base.html.twig' %}

{% block title %}Our Products{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include ':includes:menu-default.html.twig' %}

    <header class="masthead">
        <div class="overlay-small">
            <div class="container">
                <h1 class="display-1 text-white">Our Products</h1>
                {#<h2 class="display-4 text-white">Paranoid about privacy</h2>#}
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="p-5">
                    <h1 class="display-3">Build your own system</h1>
                </div>
            </div>
        </div>
    </section>
    <hr noshade>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="d-flex justify-content-around">
                    <div class="view overlay hm-blue-strong">
                        <div class="p-2"><img src="{{ asset('assets/images/icons/cctv.png') }}" height="120" width="120" class="img-fluid"></div>
                        <div class="mask flex-center"  onclick="product1()">
                            <p class="white-text">Security Camera</p>
                        </div>
                    </div>
                    <div class="view overlay hm-blue-strong">
                        <div class="p-2"><img src="{{ asset('assets/images/icons/door.png') }}" height="120" width="120" class="img-fluid"></div>
                        <div class="mask flex-center" onclick="product2()">
                            <p class="white-text">Door Sensor</p>
                        </div>
                    </div>
                    <div class="view overlay hm-blue-strong">
                        <div class="p-2"><img src="{{ asset('assets/images/icons/fingerprint.png') }}" height="120" width="120" class="img-fluid"></div>
                        <div class="mask flex-center">
                            <p class="white-text">Fringerprint Reader</p>
                        </div>
                    </div>
                    <div class="view overlay hm-blue-strong">
                        <div class="p-2"><img src="{{ asset('assets/images/icons/ir.png') }}" height="120" width="120" class="img-fluid"></div>
                        <div class="mask flex-center">
                            <p class="white-text">IR Sensor</p>
                        </div>
                    </div>
                    <div class="view overlay hm-blue-strong">
                        <div class="p-2"><img src="{{ asset('assets/images/icons/light.png') }}" height="120" width="120" class="img-fluid"></div>
                        <div class="mask flex-center">
                            <p class="white-text">Light Module</p>
                        </div>
                    </div>
                    <div class="view overlay hm-blue-strong">
                        <div class="p-2"><img src="{{ asset('assets/images/icons/pressure.png') }}" height="120" width="120" class="img-fluid"></div>
                        <div class="mask flex-center">
                            <p class="white-text">Pressure Sensor</p>
                        </div>
                    </div>
                    <div class="view overlay hm-blue-strong">
                        <div class="p-2"><img src="{{ asset('assets/images/icons/sensor.png') }}" height="120" width="120" class="img-fluid"></div>
                        <div class="mask flex-center">
                            <p class="white-text">Movement Sensor</p>
                        </div>
                    </div>
                    <div class="view overlay hm-blue-strong">
                        <div class="p-2"><img src="{{ asset('assets/images/icons/speaker.png') }}" height="120" width="120" class="img-fluid"></div>
                        <div class="mask flex-center">
                            <p class="white-text">Siren</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr noshade>

    <script type = "text/javascript">
        function product1()
        {
            document.getElementById("product-img").src = "{{ asset('assets/images/camera.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Security Camera';
            document.getElementById("product-price").innerHTML = 'Price: 59,99€';
            document.getElementById("product-description").innerHTML = 'This is our Security Camera .........................';

        }
        function product2()
        {
            document.getElementById("product-img").src ="{{ asset('assets/images/door.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Door/Window Sensor';
            document.getElementById("product-price").innerHTML = 'Price: 29,99€';
            document.getElementById("product-description").innerHTML = 'This is our Door/Window Sensor .........................';
        } 
    </script>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="card">
                    <div class="view overlay hm-white-slight">
                        <img id="product-img" src="{{ asset('assets/images/camera.jpg') }}" class="img-fluid" alt="">
                    </div>
                    <div class="card-body">
                        <h4 id="product-name" class="card-title">Security Camera</h4>
                        <p id="product-description" class="card-text">This is our Security Camera .........................</p>
                        <p id="product-price" class="card-text">Price: 59,99€</p>
                        <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Tinfoil Hats, inc <script>document.write(new Date().getFullYear())</script></p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}