{% extends 'base.html.twig' %}

{% block title %}Our Products{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include ':includes:menu-default.html.twig' %}

    <header class="masthead">
        <div class="overlay-small">
            <div class="container">
                <h1 class="display-1 text-white">Our Products</h1>
                {#<h2 class="display-4 text-white">Paranoid about privacy</h2>#}
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="p-5">
                    <h1 class="display-3">Build your own system</h1>
                </div>
            </div>
        </div>
    </section>
    <hr noshade>
    <section>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="view overlay hm-blue-strong">
                    <div class="p-2"><img src="{{ asset('assets/images/icons/cctv.png') }}" height="120" width="120" class="img-fluid"></div>
                    <div class="mask flex-center"  onclick="product1()">
                        <p class="white-text">Security Camera</p>
                    </div>
                </div>
                <div class="view overlay hm-blue-strong">                        
                    <div class="p-2"><img src="{{ asset('assets/images/icons/door.png') }}" height="120" width="120" class="img-fluid"></div>
                    <div class="mask flex-center" onclick="product2()">
                        <p class="white-text">Door Sensor</p>
                    </div>
                </div>
                <div class="view overlay hm-blue-strong">
                    <div class="p-2"><img src="{{ asset('assets/images/icons/fingerprint.png') }}" height="120" width="120" class="img-fluid"></div>
                    <div class="mask flex-center" onclick="product3()">
                        <p class="white-text">Fingerprint Scan<p>
                    </div>
                </div>
                <div class="view overlay hm-blue-strong">
                    <div class="p-2"><img src="{{ asset('assets/images/icons/motion.png') }}" height="120" width="120" class="img-fluid"></div>
                    <div class="mask flex-center" onclick="product4()">
                        <p class="white-text">IR Sensor</p>
                    </div>
                </div>
                <div class="view overlay hm-blue-strong">
                    <div class="p-2"><img src="{{ asset('assets/images/icons/light.png') }}" height="120" width="120" class="img-fluid"></div>
                    <div class="mask flex-center" onclick="product5()">
                        <p class="white-text">Light Module</p>
                    </div>
                </div>
                <div class="view overlay hm-blue-strong">
                    <div class="p-2"><img src="{{ asset('assets/images/icons/pressure.png') }}" height="120" width="120" class="img-fluid"></div>
                    <div class="mask flex-center" onclick="product6()">
                        <p class="white-text">Step-on Sensor</p>
                    </div>
                </div>
                <div class="view overlay hm-blue-strong">
                    <div class="p-2"><img src="{{ asset('assets/images/icons/speaker.png') }}" height="120" width="120" class="img-fluid"></div>
                    <div class="mask flex-center" onclick="product7()">
                        <p class="white-text">Siren</p>
                    </div>
                </div>
                <div class="view overlay hm-blue-strong">
                    <div class="p-2"><img src="{{ asset('assets/images/icons/wire.png') }}" height="120" width="120" class="img-fluid"></div>
                    <div class="mask flex-center" onclick="product8()">
                        <p class="white-text">Tripwire</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr noshade>

    <script type = "text/javascript">
        function product1()
        {
            document.getElementById("product-img").src = "{{ asset('assets/images/products/camera-2.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Security Camera';
            document.getElementById("product-price").innerHTML = '59,99€';
            document.getElementById("product-description").innerHTML = 'This is our Security Camera .........................';

        }
        function product2()
        {
            document.getElementById("product-img").src ="{{ asset('assets/images/products/door-2.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Door/Window Sensor';
            document.getElementById("product-price").innerHTML = '29,99€';
            document.getElementById("product-description").innerHTML = 'This is our Door/Window Sensor .........................';
        } 
        function product3()
        {
            document.getElementById("product-img").src ="{{ asset('assets/images/products/fingerprint.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Fingerprint Reader';
            document.getElementById("product-price").innerHTML = '29,99€';
            document.getElementById("product-description").innerHTML = 'This is our Fingerprint Reader .........................';
        } 
        function product4()
        {
            document.getElementById("product-img").src ="{{ asset('assets/images/products/motion.jpg') }}";
            document.getElementById("product-name").innerHTML = 'IR Motion Sensor';
            document.getElementById("product-price").innerHTML = '39,99€';
            document.getElementById("product-description").innerHTML = 'This is our IR Motion Sensor .........................';
        }
        function product5()
        {
            document.getElementById("product-img").src ="{{ asset('assets/images/products/light.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Light Module';
            document.getElementById("product-price").innerHTML = '29,99€';
            document.getElementById("product-description").innerHTML = 'This is our Light Module .........................';   
        }
        function product6()
        {
            document.getElementById("product-img").src ="{{ asset('assets/images/products/pressure.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Step-on Sensor';
            document.getElementById("product-price").innerHTML = '29,99€';
            document.getElementById("product-description").innerHTML = 'This is our Step-on sensor .........................';   
        }  
        function product7()
        {
            document.getElementById("product-img").src ="{{ asset('assets/images/products/siren.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Siren Module';
            document.getElementById("product-price").innerHTML = '39,99€';
            document.getElementById("product-description").innerHTML = 'This is our Alarm Siren Module .........................';   
        }
        function product8()
        {
            document.getElementById("product-img").src ="{{ asset('assets/images/products/tripwire.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Tripwire Sensor';
            document.getElementById("product-price").innerHTML = 'Price: 29,99€';
            document.getElementById("product-description").innerHTML = 'This is our Tripwire intruder alert .........................';   
        }
    </script>

    <section>
    <div class="split" style="margin-top: -16px;">
        <div class="left-half">
            <article>
                <img id="product-img" src="{{ asset('assets/images/products/camera-2.jpg') }}" class="img-fluid"  alt="">
            </article>
        </div>
        <div class="right-half">
            <div class="d-flex justify-content-center">
                <h2 id="product-name" class="display-4" style="font-weight: bold;">Security Camera</h2>
            </div>
            <div class="d-flex justify-content-center">
                <h2 id="product-description" class="display-6">Keep an eye on your home</h2>
            </div>
            <div class="d-flex justify-content-center">
                <h2 id="product-description" class="display-6">Keep an eye on your home</h2>
            </div>
            <p id="product-price" class="card-text">59,99€</p>
        </div>
    </div>
    <hr noshade style="margin-top: 0px;">
    </section>

    <section>
        <div class="d-flex justify-content-center">
            <div class="p-1">Start customizing your system now and make your house safer</div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-outline-primary">Shop</a>
        </div>  
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Tinfoil Hats, inc <script>document.write(new Date().getFullYear())</script></p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}