{% extends 'base.html.twig' %}

{% block title %}Our Products{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include ':includes:menu-default.html.twig' %}

    <header class="masthead">
        <div class="overlay-small">
            <div class="container">
                <h1 class="display-1 text-white">Our Products</h1>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="p-5">
                    <h1 class="display-3">Build your own system</h1>
                </div>
            </div>
        </div>
    </section>
    <hr noshade>
    <section>
        <div class="container">
            <div class="d-flex justify-content-center">
                {#<div class="view overlay hm-blue-strong">#}
                    {#<div class="p-2"><img src="{{ asset('assets/images/icons/cctv.png') }}" height="120" width="120" class="img-fluid"></div>#}
                    {#<div class="mask flex-center"  onclick="product1()">#}
                        {#<p class="white-text">Security Camera</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="view overlay hm-blue-strong">                        #}
                    {#<div class="p-2"><img src="{{ asset('assets/images/icons/door.png') }}" height="120" width="120" class="img-fluid"></div>#}
                    {#<div class="mask flex-center" onclick="product2()">#}
                        {#<p class="white-text">Door Sensor</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="view overlay hm-blue-strong">#}
                    {#<div class="p-2"><img src="{{ asset('assets/images/icons/fingerprint.png') }}" height="120" width="120" class="img-fluid"></div>#}
                    {#<div class="mask flex-center" onclick="product3()">#}
                        {#<p class="white-text">Fingerprint Scan<p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="view overlay hm-blue-strong">#}
                    {#<div class="p-2"><img src="{{ asset('assets/images/icons/motion.png') }}" height="120" width="120" class="img-fluid"></div>#}
                    {#<div class="mask flex-center" onclick="product4()">#}
                        {#<p class="white-text">IR Sensor</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="view overlay hm-blue-strong">#}
                    {#<div class="p-2"><img src="{{ asset('assets/images/icons/light.png') }}" height="120" width="120" class="img-fluid"></div>#}
                    {#<div class="mask flex-center" onclick="product5()">#}
                        {#<p class="white-text">Light Module</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="view overlay hm-blue-strong">#}
                    {#<div class="p-2"><img src="{{ asset('assets/images/icons/pressure.png') }}" height="120" width="120" class="img-fluid"></div>#}
                    {#<div class="mask flex-center" onclick="product6()">#}
                        {#<p class="white-text">Step-on Sensor</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="view overlay hm-blue-strong">#}
                    {#<div class="p-2"><img src="{{ asset('assets/images/icons/speaker.png') }}" height="120" width="120" class="img-fluid"></div>#}
                    {#<div class="mask flex-center" onclick="product7()">#}
                        {#<p class="white-text">Siren</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="view overlay hm-blue-strong">#}
                    {#<div class="p-2"><img src="{{ asset('assets/images/icons/wire.png') }}" height="120" width="120" class="img-fluid"></div>#}
                    {#<div class="mask flex-center" onclick="product8()">#}
                        {#<p class="white-text">Tripwire</p>#}
                    {#</div>#}
                {#</div>#}
                {% for product in products %}
                    <div class="view overlay hm-blue-strong">
                        <div class="p-2"><img src="{{ vich_uploader_asset(product, 'iconFile') }}" height="120" width="120" class="img-fluid"></div>
                        <div class="mask flex-center" onclick="product8()">
                            <p class="white-text">{{ product.name }}</p>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </section>
    <hr noshade>

    <script type = "text/javascript">
        function product1()
        {
            document.getElementById("product-img").src = "{{ asset('assets/images/products/camera-2.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Security Camera';
            document.getElementById("product-price").innerHTML = '59,99€';
            document.getElementById("product-description").innerHTML = 'Keep an eye on your home';
            document.getElementById("feature1").src = "{{ asset('assets/images/features/record.png') }}";
            document.getElementById("feature1-text").innerHTML = 'Record<br />video';
            document.getElementById("feature2").src = "{{ asset('assets/images/features/snapshot.png') }}";
            document.getElementById("feature2-text").innerHTML = 'Take<br />Snapshots';
        }
        function product2()
        {
            document.getElementById("product-img").src ="{{ asset('assets/images/products/door-2.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Door/Window Sensor';
            document.getElementById("product-price").innerHTML = '29,99€';
            document.getElementById("product-description").innerHTML = 'Secure your entry points';
            document.getElementById("feature1").src = "{{ asset('assets/images/features/alert.png') }}";
            document.getElementById("feature1-text").innerHTML = 'Intruder<br />alerts';
            document.getElementById("feature2").src = "{{ asset('assets/images/features/time.png') }}";
            document.getElementById("feature2-text").innerHTML = 'Easy to<br />install';
        } 
        function product3()
        {
            document.getElementById("product-img").src ="{{ asset('assets/images/products/fingerprint.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Fingerprint Reader + Keypad';
            document.getElementById("product-price").innerHTML = '29,99€';
            document.getElementById("product-description").innerHTML = 'Only you can disable your system';            
            document.getElementById("feature1").src = "{{ asset('assets/images/features/user.png') }}";
            document.getElementById("feature1-text").innerHTML = 'Easy<br />login';
            document.getElementById("feature2").src = "{{ asset('assets/images/features/secure.png') }}";
            document.getElementById("feature2-text").innerHTML = '100%<br />Secure';
        } 
        function product4()
        {
            document.getElementById("product-img").src ="{{ asset('assets/images/products/motion.jpg') }}";
            document.getElementById("product-name").innerHTML = 'IR Motion Sensor';
            document.getElementById("product-price").innerHTML = '39,99€';
            document.getElementById("product-description").innerHTML = 'Detect any movement';
            document.getElementById("feature1").src = "{{ asset('assets/images/features/alert.png') }}";
            document.getElementById("feature1-text").innerHTML = 'Intruder<br />alerts';
            document.getElementById("feature2").src = "{{ asset('assets/images/features/time.png') }}";
            document.getElementById("feature2-text").innerHTML = 'Easy to<br />install';
        }
        function product5()
        {
            document.getElementById("product-img").src ="{{ asset('assets/images/products/light.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Light Module';
            document.getElementById("product-price").innerHTML = '29,99€';
            document.getElementById("product-description").innerHTML = 'Link your lights with your security system';   
            document.getElementById("feature1").src = "{{ asset('assets/images/features/light.png') }}";
            document.getElementById("feature1-text").innerHTML = 'Control<br />behavior';
            document.getElementById("feature2").src = "{{ asset('assets/images/features/time.png') }}";
            document.getElementById("feature2-text").innerHTML = 'Easy to<br />install';
        }
        function product6()
        {
            document.getElementById("product-img").src ="{{ asset('assets/images/products/pressure.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Step-on Sensor';
            document.getElementById("product-price").innerHTML = '29,99€';
            document.getElementById("product-description").innerHTML = 'Detect intruders footsteps';   
            document.getElementById("feature1").src = "{{ asset('assets/images/features/alert.png') }}";
            document.getElementById("feature1-text").innerHTML = 'Intruder<br />alerts';
            document.getElementById("feature2").src = "{{ asset('assets/images/features/time.png') }}";
            document.getElementById("feature2-text").innerHTML = 'Easy to<br />install';  
        }  
        function product7()
        {
            document.getElementById("product-img").src ="{{ asset('assets/images/products/siren.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Siren Module';
            document.getElementById("product-price").innerHTML = '39,99€';
            document.getElementById("product-description").innerHTML = 'Let burglars know they have been spotted';
            document.getElementById("feature1").src = "{{ asset('assets/images/features/sound.png') }}";
            document.getElementById("feature1-text").innerHTML = 'Loud<br />alarm';
            document.getElementById("feature2").src = "{{ asset('assets/images/features/time.png') }}";
            document.getElementById("feature2-text").innerHTML = 'Easy to<br />install';    
        }
        function product8()
        {
            document.getElementById("product-img").src ="{{ asset('assets/images/products/tripwire.jpg') }}";
            document.getElementById("product-name").innerHTML = 'Tripwire Sensor';
            document.getElementById("product-price").innerHTML = '29,99€';
            document.getElementById("product-description").innerHTML = 'Easily protect a hallway';
            document.getElementById("feature1").src = "{{ asset('assets/images/features/alert.png') }}";
            document.getElementById("feature1-text").innerHTML = 'Intruder<br />alerts';
            document.getElementById("feature2").src = "{{ asset('assets/images/features/time.png') }}";
            document.getElementById("feature2-text").innerHTML = 'Easy to<br />install';   
        }
    </script>

    {% for product in products %}
        <section>
            <div class="container" style="margin-bottom: 50px;">
                <div class="row">
                    <div class="col-md-5 {% if loop.index0 % 2 == 0 %}order-1{% else %}order-2{% endif %}">
                        <div class="p-5">
                            <img id="product-img" src="{{ vich_uploader_asset(product, 'imageFile') }}" class="img-fluid"  alt="">
                        </div>
                    </div>
                    <div class="col-md-5 {% if loop.index0 % 2 == 0 %}order-2{% else %}order-1{% endif %}">
                        <div class="p-5">
                            <h2 id="product-name" class="display-4">{{ product.name }}</h2>
                            <p>
                                {{ product.description }}
                            </p>
                        </div>
                        <div class="p-5">
                            <div class="row">
                                {% for feature in product.features %}
                                    <div class="col-md-4 order-{{ loop.index }}">
                                        <div style="text-align: center;">
                                            <img id="feature{{ loop.index }}" src="{{ vich_uploader_asset(feature, 'imageFile') }}" style="width:70px;" class="img-fluid">
                                        </div>
                                        <p id="feature{{ loop.index }}-text" style="text-align:center;">{{ feature.name }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 order-3">
                        <form class="form form-inline" action="{{ path('shopping_cart_add') }}" method="post">
                            <input hidden name="csrf_token" value="{{ csrf_token('add_to_cart_token') }}" />
                            <input style="max-width: 60px;" class="form-control" name="amount" type="number" value="1" />
                            <input hidden name="product_id" value="{{ product.id }}" />
                            <button type="submit" class="btn btn-sm btn-primary">buy</button>
                        </form>
                        {% if product.chubRequired %}
                            <div class="text-danger">
                                Central Hub is required in order to use this module
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr noshade style="margin-top: 0px;">
        </section>
    {% endfor %}

    <section>
        <div class="d-flex justify-content-center">
            <div class="p-1">Start customizing your system now and make your house safer</div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-outline-primary">Shop</a>
        </div>  
    </section>

    {% include ':includes:footer.html.twig' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}