{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include ':includes:menu-default.html.twig' %}


    <header class="masthead">
        <div class="overlay">
            <div class="container">
                <h1 class="display-1 text-white">Tinfoil Hats, inc.</h1>
                <h2 class="display-4 text-white">Paranoid about privacy</h2>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="{{ asset('assets/images/homepage1.png') }}" alt="">
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <h2 class="display-4">For Those Needing Peace Of Mind</h2>
                        <p>We are here to protect you, not to sell. Our modular security system will keep your house safe when you're out or sleeping. Composed of easy to set-up cameras and intruder alerts, it will give you total control. All built by people who know security.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="{{ asset('assets/images/homepage2.png') }}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-5">
                        <h2 class="display-4">Build The System That’s Right For Your Home!</h2>
                        <p>Thanks to our different modules you can build your own customized system. Start with our core components, then you can add as many sensors as you want to meet your home's need. All of our products are pre-programmed and ready to start protecting your home.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="{{ asset('assets/images/homepage3.jpg') }}" alt="">
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <h2 class="display-4">Night & Day Protection!</h2>
                        <p>Enjoy safety when you are home, whether you're sleeping or awake our Entry sensors will protect your windows and doors.</p>
                        <p>Enjoy security when you're away, as soon as you leave your home, all our system sensors will be active, providing multiple layers of protection. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Tinfoil Hats, inc <script>document.write(new Date().getFullYear())</script></p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

{% endblock %}
