{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
    {% include ':includes:menu-default.html.twig' %}

    <header class="masthead">
        <div class="overlay-small">
            <div class="container">
                <h1 class="display-3 text-white">Forgot Password</h1>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 order-1">
                    <div class="p-5">
                        {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.send, { 'attr': {'class': 'btn btn-success'} }) }}
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include ':includes:footer.html.twig' %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}